{% extends "base.html" %}
{% block content %}
<div class="contact">
    <div class="inside-block">
        <img class="photo" src="/static/img/pet_license.jpg" alt="My photo" width="450" height="auto">
    <div class="text-block">
        <span class="contact-description">Each dog has difference size and shape. Selection of fancy dress that can bring out and show the best featured of your dog is the first important. Also do not make or buy fancy clothes for your pet without thinking about the comfortable when putting on your pet.</span>
        <span class="contact-title">Some text here</span>
    </div>
        </div>
</div>


{%endblock%}
